<template lang="">
    <div
        class="container-fluid col col-lg-4 col-sm-8 m-auto myModal shadow rounded"
    >
        <!-- approved -->
        <div
            v-if="!rejected"
            class="d-flex flex-column text-center h-100 justify-content-evenly"
        >
            <div>Holiday Approved!</div>

            <div>
                <button @click="close" class="modalBtn myBtn m-auto w-100">
                    Close
                </button>
            </div>
        </div>
        <!-- rejected -->
        <div
            v-if="rejected"
            class="d-flex flex-column text-center h-100 justify-content-evenly"
        >
            <label for="reason" class="w-100 text-center">Reason:</label>
            <textarea
                v-model="reason"
                class="d-flex m-auto w-100 mb-2 rounded"
                required
                id="reason"
                cols="10"
                rows="3"
            ></textarea>

            <button
                :disabled="isDisabled"
                @click="submit"
                class="modalBtn myBtn m-auto w-100"
            >
                Submit
            </button>
        </div>
    </div>
</template>
<script>
export default {
    props: ["modalMessage", "close", "rejected", "rejectedId", "requests"],

    data() {
        return {
            reason: null,
            requestData: null,
        };
    },

    computed: {
        isDisabled: function () {
            return this.reason ? false : true;
        },
    },

    methods: {
        submit() {
            axios
                .put("/holiday/approve", {
                    id: this.rejectedId,
                    approved: "no",
                    message: this.reason,
                })
                .then((response) => {
                    if (response.status === 200) {
                        this.close();
                        this.requestData = this.requests.filter(
                            (request) => request.id != this.rejectedId
                        );
                        this.$emit("updateRequests", this.requestData);
                    }
                });
        },
    },
};
</script>
<style lang=""></style>
