.table-header {
    font-weight: bold;
}

.close {
    all: unset;
    text-align: right;
    font-size: larger;
    &:hover {
        cursor: pointer;
    }
}
.adminCol {
    @media (max-width: 600px) {
        font-size: smaller;
    }
}
