<template lang="">
    <div>
        <div
            class="container-fluid w-100 d-flex justify-content-between align-items-center mainNav"
        >
            <div class="p-4">
                <a href="/" id="mainLink"
                    ><h2 class="">Graphium Holiday Booker</h2></a
                >
            </div>
            <div class="navLinks p-4 d-flex align-items-center">
                <button
                    class="barsBtn"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight"
                >
                    <i class="fa fa-bars"> </i>
                </button>
                <!-- side bar nav -->
                <div
                    class="offcanvas offcanvas-end"
                    tabindex="-1"
                    id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel"
                >
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">
                            Hello,
                            {{
                                $page.props.auth.user
                                    ? $page.props.auth.user.name
                                    : "Guest"
                            }}
                        </h5>
                        <button
                            type="button"
                            class="btn-close text-reset"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <div
                            v-if="$page.props.auth.user !== null"
                            class="mb-5 navItem"
                        >
                            <i class="fa fa-user"></i>
                            <inertia-link
                                data-bs-dismiss="offcanvas"
                                class="navLink"
                                type="button"
                                as="button"
                                method="post"
                                href="/logout"
                                >Logout</inertia-link
                            >
                        </div>
                        <div
                            v-if="$page.props.auth.user === null"
                            class="mb-5 navItem"
                        >
                            <i class="fa fa-user"></i>
                            <inertia-link
                                class="navLink"
                                data-bs-dismiss="offcanvas"
                                type="button"
                                as="button"
                                href="/login"
                                >Login/Register</inertia-link
                            >
                        </div>
                        <div class="mb-5 navItem">
                            <i class="bi bi-calendar"></i>
                            <inertia-link
                                class="navLink"
                                data-bs-dismiss="offcanvas"
                                type="button"
                                as="button"
                                href="/calender"
                                >Calender</inertia-link
                            >
                        </div>
                        <div class="mb-5 navItem">
                            <i class="bi bi-calendar-heart"></i>
                            <inertia-link
                                class="navLink"
                                data-bs-dismiss="offcanvas"
                                type="button"
                                as="button"
                                href="/my_holiday"
                                >My Holiday</inertia-link
                            >
                        </div>
                        <div class="mb-5 navItem">
                            <i class="bi bi-calendar-plus"></i>
                            <inertia-link
                                class="navLink"
                                data-bs-dismiss="offcanvas"
                                as="button"
                                type="button"
                                href="/request"
                                >Request Holiday</inertia-link
                            >
                        </div>
                        <div class="mb-5 navItem">
                            <i class="bi bi-briefcase-fill"></i>
                            <inertia-link
                                class="navLink"
                                data-bs-dismiss="offcanvas"
                                as="button"
                                type="button"
                                href="/admin"
                                >Admin</inertia-link
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <slot></slot>
    </div>
</template>
<script>
export default {};
</script>
<style scoped>
#mainLink {
    all: unset;
}

#mainLink:hover {
    cursor: pointer;
}
</style>
