<template lang="">
    <div class="container-fluid m-auto">
        <!-- Modal -->
        <modal
            :style="modalDisplay"
            :close="closeModal"
            :rejected="rejected"
            :rejectedId="rejectedId"
            :requests="requests"
            @updateRequests="updateRequests($event)"
        ></modal>
        <h2 class="text-center mb-3">Holiday Requests</h2>
        <div class="row border-bottom mb-2">
            <div class="col adminCol table-header">Name</div>
            <div class="col adminCol table-header">Start Date</div>
            <div class="col adminCol table-header">End Date</div>
            <div class="col adminCol table-header">Total Days</div>
            <div class="col adminCol table-header text-center">Actions</div>
        </div>
        <div v-for="request in requests" class="row mb-2">
            <div class="col adminCol">{{ request.name }}</div>
            <div class="col adminCol">{{ request.start_date }}</div>
            <div class="col adminCol">{{ request.end_date }}</div>
            <div class="col adminCol">{{ request.total_days }}</div>
            <div class="col adminCol d-flex justify-content-evenly">
                <button
                    class="btn btn-success"
                    @click="approveHoliday(request.id)"
                    data-bs-target="#exampleModalCenter"
                >
                    Approve</button
                ><button
                    class="btn btn-danger"
                    @click="rejectHoliday(request.id)"
                >
                    Reject
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        user: Object,
    },

    data() {
        return {
            requests: [],
            modalMessage: "",
            modalDisplay: "display: none;",
            rejected: false,
            rejectedId: null,
        };
    },

    mounted() {
        this.loadRequests();
    },

    methods: {
        loadRequests() {
            axios.get("/holiday").then((response) => {
                this.requests = response.data.filter(
                    (hol) => hol.approved === "Pending"
                );
            });
        },
        approveHoliday(id) {
            axios
                .put("/holiday/approve", {
                    id: id,
                    approved: "yes",
                })
                .then((response) => {
                    if (response.status === 200) {
                        this.requests = this.requests.filter(
                            (request) => request.id != id
                        );
                        this.modalDisplay = "display: inherit";
                    }
                });
        },

        rejectHoliday(id) {
            this.rejectedId = id;
            this.modalDisplay = "display: inherit";
            this.rejected = true;
        },

        closeModal() {
            this.modalDisplay = "display: none";
        },

        updateRequests(updatedRequests) {
            this.requests = updatedRequests;
        },
    },
};
</script>
