<template lang="">
    <div class="container-fluid row m-auto vh-100">
        <calender ref="cal" :attributes="attrs" class="col p-3"></calender>
    </div>
</template>
<script>
export default {
    props: {
        user: Object,
    },
    methods: {
        setCalendar() {
            this.holidays.forEach((holiday) => {
                this.attrs.push({
                    key: holiday.name,
                    dates: [
                        {
                            start: new Date(holiday.start_date),
                            end: new Date(holiday.end_date),
                        },
                    ],
                    highlight: {
                        color: "pink",
                        ...(holiday.approved === "no" && { color: "gray" }),
                        ...(holiday.approved === "Pending" && {
                            fillMode: "light",
                        }),
                        ...(holiday.approved === "yes" && {
                            fillMode: "solid",
                        }),
                        ...(holiday.approved === "no" && {
                            fillMode: "outline",
                        }),
                    },

                    popover: {
                        ...(holiday.approved === "yes" && {
                            label: `${holiday.name} holiday approved.`,
                        }),
                        ...(holiday.approved === "no" && {
                            label: `${holiday.name} holiday rejected`,
                        }),
                        ...(holiday.approved === "Pending" && {
                            label: `${holiday.name} holiday pending.`,
                        }),
                    },
                });
            });
        },
    },

    data() {
        return {
            holidays: null,
            colors: ["red", "green", "blue", "teal", "pink", "yellow"],
            attrs: [],
        };
    },

    mounted() {
        axios.get("/holiday").then((response) => {
            // console.log(response);
            this.holidays = response.data;

            this.setCalendar();
        });
    },
};
</script>
<style lang=""></style>
