<template lang="">
    <div class="container-fluid">
        <div class="row mb-4">
            <h2 class="col text-center">My Holiday</h2>
        </div>
        <div class="row w-75 m-auto">
            <div
                class="col col-lg-5 col-sm-10 p-4 d-flex justify-content-evenly align-items-center"
            >
                <vc-donut :sections="allowance" :total="30"
                    >My Allowance</vc-donut
                >
                {{ `${allowance[0].value} of 30 days taken.` }}
            </div>
            <div
                class="col col-lg-5 col-sm-10 p-4 d-flex justify-content-evenly align-items-center"
            >
                <div class="card w-50 m-auto">
                    <div class="card-header">My Requests</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>Pending: {{ pending }}</span>
                        </li>
                        <li class="list-group-item">
                            <span>Approved: {{ approved }}</span>
                        </li>
                        <li class="list-group-item">
                            <span>Rejected: {{ rejected }}</span>
                            <details class="bt-1">
                                <summary>Reason</summary>
                                {{ rejected_reason }}
                            </details>
                        </li>
                        <li class="list-group-item">
                            <span>Total: {{ allowance[0].value }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            allowance: [{ value: null }],
            pending: null,
            approved: null,
            rejected: null,
            rejected_reason: null,
        };
    },

    mounted() {
        axios.get("/my_holiday/allowance").then((response) => {
            this.pending = response.data[0].filter(
                (req) => req.approved === "Pending"
            ).length;
            this.approved = response.data[0].filter(
                (req) => req.approved === "yes"
            ).length;
            this.rejected = response.data[0].filter(
                (req) => req.approved === "no"
            ).length;

            this.rejected_reason = response.data[0]
                .filter((req) => req.rejection_reason)
                .map((req) => req.rejection_reason)[0];

            const approvedDays = response.data[0]
                .filter((holiday) => holiday.approved === "yes")
                .map((holiday) => holiday.total_days);

            this.allowance[0].value = approvedDays.reduce((prev, curr) => {
                return prev + curr;
            });
        });
    },
};
</script>
<style lang=""></style>
