<template lang="">
    <div>
        <!-- <index-layout> </index-layout> -->
        <div class="container text-center w-100 pt-3">
            <h2>My Holiday</h2>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        name: Object,
    },
};
</script>
<style lang=""></style>
