<template lang="">
    <div>
        <!-- <index-layout> </index-layout> -->
        <div class="container text-center w-100 pt-3">
            <h2>Register</h2>

            <form
                class="col col-lg-6 col-sm-10 m-auto text-start"
                @submit.prevent="submit"
            >
                <div class="bg-danger text-white p-2" v-for="error in errors">
                    {{ error }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                        >Name</label
                    >
                    <input
                        v-model="form.name"
                        type="text"
                        required
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                    />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                        >Email address</label
                    >
                    <input
                        v-model="form.email"
                        required
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                    />
                    <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                        >Password</label
                    >
                    <input
                        v-model="form.password"
                        required
                        type="password"
                        class="form-control"
                        id="password"
                    />
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                        >Confirm Password</label
                    >
                    <input
                        v-model="form.password_confirmation"
                        required
                        type="password"
                        class="form-control"
                        id="confirm_password"
                    />
                </div>

                <button type="submit" class="btn myBtn w-100">Submit</button>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        errors: Object,
    },
    data() {
        return {
            form: {
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
            },
        };
    },

    methods: {
        submit() {
            this.$inertia.post("/register", this.form);
        },
    },
};
</script>
