<template lang="">
    <div>
        <h2 class="text-center">Request Holiday</h2>
        <form
            class="container-fluid card formContainer"
            @submit.prevent="submit"
        >
            <label for="start_date">Start date:</label>
            <input type="date" id="start_date" v-model="form.start_date" />
            <select name="start" id="start_time">
                <option value="Morning">Morning</option>
                <option value="Afternoon">Afternoon</option>
            </select>
            <label for="end_date">End date:</label>
            <input type="date" id="end_date" v-model="form.end_date" />
            <select name="end" id="end_time">
                <option value="Morning">Morning</option>
                <option value="Afternoon">Afternoon</option>
            </select>
            <label for="total_hours"></label>
            <div id="total_hours">
                {{ form.total_days + " " + "days" }}
            </div>
            <button type="submit" class="myBtn">Submit</button>
        </form>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form: {
                start_date: null,
                end_date: null,
                total_days: 0,
            },
        };
    },

    methods: {
        submit() {
            this.$inertia.post("/request/store", this.form);

            console.log(this.total);
        },

        getNumberOfDays() {
            const date1 = new Date(this.form.start_date);
            const date2 = new Date(this.form.end_date);

            console.log("working");

            // One day in milliseconds
            const oneDay = 1000 * 60 * 60 * 24;

            // Calculating the time difference between two dates
            const diffInTime = date2.getTime() - date1.getTime();

            // Calculating the no. of days between two dates
            const diffInDays = Math.round(diffInTime / oneDay);

            this.form.total_days = diffInDays;
        },
    },

    watch: {
        "form.end_date": {
            handler(end_date) {
                this.getNumberOfDays();
                console.log("date changed");
            },

            // immediate: true,
            deep: true,
        },
    },
};
</script>
<style lang=""></style>
